@use "../variables" as *;
// ===============
// General Styles
// ===============

.floating-items {
    position: relative;
    padding: clamp(1.5rem, 3vw, 4rem);
    min-height: clamp(120rem, 195vw, 230rem);

    @media (max-width: $tablet) {
        min-height: clamp(100rem, 240vw, 145rem);
    }

    @media (max-width: $mobile) {
        min-height: 0;
        padding: 0;
    }
}

.item {
    position: relative;
    display: flex;

    @media (max-width: $mobile) {
        margin: clamp(2.5rem, 10vw, 4rem) 0;
    }
}

.item__image {
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.item__text {
    @media (max-width: $mobile) {
        margin: clamp(1rem, 3vw, 1.5rem) 0;
        padding: 0 clamp(1rem, 3vw, 1.5rem);
        width: auto;
    }
}

// ===================
// Single item styles
// ===================

.item--1 {
    flex-direction: row-reverse;
    top: clamp(5rem, 10vw, 10rem);

    @media (max-width: $tablet) {
        margin-top: clamp(2rem, 5vw, 4rem);
    }

    @media (max-width: $mobile) {
        flex-direction: column;
        align-items: flex-end;
        top: 0;
    }

    .item__image {
        width: clamp(24rem, 40vw, 48rem);

        @media (max-width: $tablet) {
            width: clamp(20rem, 45vw, 34rem);
        }

        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    .item__text {
        width: clamp(20rem, 30vw, 36rem);
        margin-right: clamp(1.5rem, 3vw, 4rem);
        text-align: right;

        @media (max-width: $mobile) {
            width: auto;
            text-align: center;
            margin-right: 0;
        }
    }
}

.item--2 {
    flex-direction: column;
    top: clamp(8rem, 20vw, 18rem);

    @media (max-width: $tablet) {
        margin-top: clamp(5rem, 15vw, 8rem);
    }

    @media (max-width: $mobile) {
        top: 0;
    }

    .item__image {
        width: clamp(18rem, 30vw, 36rem);

        @media (max-width: $tablet) {
            width: clamp(18rem, 35vw, 30rem);
        }

        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    .item__text {
        width: clamp(16rem, 25vw, 30rem);
        margin-top: clamp(1.5rem, 3vw, 4rem);

        @media (max-width: $tablet) {
            width: clamp(18rem, 34vw, 30rem);
        }

        @media (max-width: $mobile) {
            width: auto;
            text-align: center;
        }
    }
}

.item--3 {
    flex-direction: column;
    align-items: flex-end;
    right: clamp(3rem, 10vw, 10rem);
    top: clamp(-28rem, -35vw, -16rem);

    @media (max-width: $tablet) {
        top: clamp(-28rem, -45vw, -18rem);
        right: clamp(2rem, 5vw, 5rem);
    }

    @media (max-width: $mobile) {
        flex-direction: column;
        right: 0;
        top: 0;
    }

    .item__image {
        width: clamp(24rem, 40vw, 48rem);

        @media (max-width: $tablet) {
            width: clamp(20rem, 45vw, 34rem);
        }

        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    .item__text {
        width: clamp(20rem, 35vw, 42rem);
        margin-top: clamp(1.5rem, 3vw, 4rem);
        text-align: right;

        @media (max-width: $tablet) {
            width: clamp(20rem, 40vw, 34rem);
        }

        @media (max-width: $mobile) {
            width: auto;
            text-align: center;
        }
    }
}

.item--4 {
    flex-direction: column;
    justify-content: flex-end;
    top: clamp(-28rem, -35vw, -16rem);
    left: clamp(2rem, 5vw, 5rem);

    @media (max-width: $tablet) {
        top: clamp(-28rem, -45vw, -18rem);
    }

    @media (max-width: $mobile) {
        flex-direction: column;
        top: 0;
        left: 0;
    }

    .item__image {
        width: clamp(40rem, 65vw, 76rem);

        @media (max-width: $mobile) {
            width: 100%;
        }
    }

    .item__text {
        width: clamp(20rem, 35vw, 42rem);
        margin-top: clamp(1.5rem, 3vw, 4rem);

        @media (max-width: $mobile) {
            width: auto;
            text-align: center;
        }
    }
}
