.banner {
  height: 50vh;
  height: calc(var(--vh, 1vh) * 50);
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-size: 2.4rem;
      line-height: 2.9rem;
      .line {
        position: relative;
        height: 48px;
        overflow: hidden;
        span {
          position: absolute;
        }
      }
    }
    .link {
      a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 128px;
        font-size: 1.4rem;
        svg {
        }
      }
    }
  }
}
