.page {
  padding-top: 96px;
  margin-bottom: 96px;
  .container {
    .title {
      font-size: 6rem;
      letter-spacing: 0.5rem;
      color: khaki;
      font-weight: 700;
      margin-bottom: 0;
    }
    .content {
    }
  }
}
