@use "../tokens" as tokens;
.lastoria__title-wrapper {
    position: relative;
}

.lastoria__title {
    padding: 8vw 0 0;
    position: relative;
    z-index: 1;

    @media (max-width: tokens.$breakpoint-mobile) {
        padding-top: 20vw;
    }
}

.lastoria__story {
    margin: 10vw 20vw 4vw;
    text-align: center;

    @media (max-width: tokens.$breakpoint-mobile) {
        margin: 10vw;
    }

    p {
        position: relative;
        z-index: 1;
        width: min(45rem, 45vw);
        margin: 3vw auto;

        @media (max-width: tokens.$breakpoint-mobile) {
            width: 80vw;
        }
    }

    .lastoria__story-line {
        position: relative;
        width: 1px;
        height: 15vw;
        background-color: #aaa;
        margin: 0 auto;

        @media (max-width: tokens.$breakpoint-mobile) {
            height: clamp(6.25rem, 26vw, 13rem);
        }
    }

    .lastoria__ticket {
        position: absolute;
        top: 0;
        width: 30vw;
        pointer-events: none;

        @media (max-width: tokens.$breakpoint-mobile) {
            top: clamp(1.25rem, 5.5vw, 2.5rem);
            width: clamp(7rem, 30vw, 12rem);
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        &.lastoria__ticket--left {
            left: -55vw;
        }

        &.lastoria__ticket--right {
            left: 25vw;
        }
    }
}

.lastoria__image {
    margin: 0 auto;
    width: 50vw;

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    @media (max-width: tokens.$breakpoint-mobile) {
        width: 100%;
        margin-bottom: 10vw;
    }
}
