.cafe__opening-hours {
  display: flex;
  justify-content: space-between;
  margin: 1rem 3rem;
}

.cafe__opening-hours-line {
  font-size: 1.2rem;
  font-weight: 600;
  color: $black;
  // text-align: center;
}

.cafe__link {
  color: $red;
}
