// ====================
// Colors
// ====================

$black: #171717;
$white: #fff;

// Olivetti
$red: #DE4C3C;
$yellow: #DEA858;
$orange: #FFA816;
$green: #019A57;
$blue: #006B9B;

// ====================
// Screen Widths
// ====================

$tablet: 1200px;
$mobile: 992px;
